.card {
    padding: 24px;
    border-radius: 8px;
    border: 0.5px solid #242422;
    position: relative;
    width: 30%;
  }
  
  .card-number {
    position: absolute;
    top: 24px;
    left: 24px;
    padding: 8px;
    border-radius: 4px;
    border: 0.5px solid #242422;
    background-color: #E8F1D6;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-title {
    margin-top: 60px; /* Genug Platz für die Nummer oben links */
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-description {
    font-size: 16px;
  }

  @media (max-width: 900px) {
    .card {
      width: 100%;
    }
  }
  